TareasDossieres/Unidad7/Practica13/Practica13.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.misitio.com"
    xmlns="http://www.misitio.com" elementFormDefault="qualified">

    <xs:element name="persona">
        <xs:complexType>
            <xs:all>
                <xs:element name="nombre" type="xs:string"/>
                <xs:element name="apellido" type="xs:string"/>
            </xs:all>
        </xs:complexType>
    </xs:element>

</xs:schema> 