TareasDossieres/Unidad7/Practica03/Practica03.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
targetNamespace="http://www.misitio.com"
xmlns="http://www.misitio.com" 
elementFormDefault="qualified">

    <xs:element name="persona">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nombre" type="xs:string"/>
                <xs:element name="apellidos" type="xs:string"/>
                <xs:element name="edad" type="xs:integer" fixed="18"/>
                <xs:element name="fechanacimiento" type="xs:date"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
</xs:schema> 
